/* Reset
body {
    margin: 0;
    font-family: Arial;
}

/* Navbar */
/* .navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: white;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin-left: 20px;
    cursor: pointer; */
/

/* Hero Section */
/* .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
} */

/* Left */
/* .left h1 {
    margin: 5px 0;
}

.left span {
    color: orange;
}

.left p {
    margin: 15px 0;
}

button {
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
} */

/* Right Image */
/* .right img {
    width: 250px;
    border-radius: 50%;
} */ 
 .icons {
    margin-top: 20px;
}

.icons i {
    font-size: 20px;
    margin-right: 15px;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.icons i:hover {
    background: blue;
}
