body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.container {
    padding: 40px;
}

.role {
    color: #38bdf8;
}

.box {
    background: #1e293b;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
}